@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .service_heading{
    @apply before:block before:-z-10 z-10 before:absolute before:-inset-1 before:-skew-y-3 before:bg-cover relative inline-block text-gray-300 before:bg-[url("/heading/bg.png")] 
  }
  /* .service_heading span{
    @apply w-full h-1 after:absolute after:top-full after:left-1/2 after:-translate-x-1/2 after:border-l-4 after:border-dotted after:border-[#80ADF1] after:h-10 after:content-[""]
  }
  .service_heading span::before{
      @apply content-[""] absolute top-[180%] left-1/2 -translate-x-1/2  w-4 h-4 rounded-full bg-[#80ADF1] shadow-[0_10px_10px_#80ADF1]
  } */
  .cube-outer {
    width: 400px;
    height: 400px;
    perspective: 1000px;
    line-height: 400px;
    font-size: 7em;
    color: white;
    margin: 100px auto;
  }
  .cube-outer .cube {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(-15deg) rotateZ(-5deg);
  }
  .cube-outer .cube .face {
    height: inherit;
    width: inherit;
    position: absolute;
    opacity: 1;
    overflow: hidden;
    box-shadow: inset 0 0 250px rgba(0, 0, 0, 0.5), 0 0 2px #000000;
  }
  .cube-outer .cube .face-front {
    transform: rotateX(0deg) translate3d(0, 0, 200px);
  }
  .cube-outer .cube .face-back {
    transform: rotateY(180deg) translate3d(0, 0, 200px);
  }
  .cube-outer .cube .face-left {
    transform: rotateY(-90deg) translate3d(0, 0, 200px);
  }
  .cube-outer .cube .face-right {
    transform: rotateY(90deg) translate3d(0, 0, 200px);
  }
  .cube-outer .cube .face-top {
    transform: rotateX(90deg) translate3d(0, 0, 200px);
  }
  .cube-outer .cube .face-bottom {
    transform: rotateX(-90deg) translate3d(0, 0, 200px);
  }

  /* Hero Slider */
  .slideparent{
  
    -webkit-mask: linear-gradient(90deg,#0000,#000 10% 90%,#0000);
  }
  .sliderdemo, .sliderdemo2 {
    display: flex;
    overflow: hidden;
  }
  .sliderdemo > img {
    animation: r 5s linear infinite alternate-reverse;
    -webkit-animation: r 5s linear infinite alternate-reverse;
  }
  .sliderdemo2 > img {
    animation: r2 2s linear infinite alternate-reverse;
    -webkit-animation: r2 2s linear infinite alternate-reverse;
  }
  
  @keyframes r {
    0%    { transform: translate(0); -webkit-transform: translate(0); -moz-transform: translate(0); -ms-transform: translate(0); -o-transform: translate(0); }
    100% { transform: translate( 100%); -webkit-transform: translate( 100%); -moz-transform: translate( 100%); -ms-transform: translate( 100%); -o-transform: translate( 100%); }
  }
  @keyframes r2 {
    0%    { transform: translate(0); -webkit-transform: translate(0); -moz-transform: translate(0); -ms-transform: translate(0); -o-transform: translate(0); }
    100% { transform: translate( -100%); -webkit-transform: translate( -100%); -moz-transform: translate( -100%); -ms-transform: translate( -100%); -o-transform: translate( -100%); }
  }
}